<div class="mt-4">
    <div class="row">
        {{#each albums}}
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <a href="/music/album/{{this.name}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/music/album/{{this.name}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.author}}</p>
                    <a href="album/{{this._id}}/edit" class="btn btn-link">Update</a>
                    <a href="album/{{this._id}}/delete" class="btn btn-link">Delete</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>