<div class="mt-4">
    <form method="GET" action="/music/album/store">
  <div class="mb-3">
    <label for="name">Album name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
    <div class="mb-3">
    <label for="author">Artist</label>
    <input type="text" class="form-control" id="author" name="author">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>