<div class="mt-4">
    <form method="GET" action="/music/album/{{albums._id}}/edited">
        <div class="mb-3">
            <label for="name">Album name</label>
            <input type="text" class="form-control" value="{{albums.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="author">Artist</label>
            <input type="text" class="form-control" value="{{albums.author}}" id="author" name="author">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>