<div class="mt-4">
<form method="GET" action="/music/album/create">
<button type="submit" class="btn btn-dark">CreateAlbum</button>
</form>
<form method="GET" action="/music/album">
<button type="submit" class="btn btn-dark">Album</button>
</form>
</div>
