<div class="mt-4">
            <form method="GET" action="/search">
                <div class="form-group">
                    <label for="search-input">GET</label>
                    <input type="text" name="q" class="form-control" id="search-input">
                </div>

                <!-- name="q" để đính thêm query lên url q=...
method="" phương thức nào, action="" submit ở đâu -->
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        